
// overrides the default jquery css
@mixin callendar($ns){
    #{$ns}{
        .ui-widget {
            font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        #ui-datepicker-div{
            display: none;
        }
        .ui-datepicker-trigger{
            outline: none
        }
        .ui-datepicker {
            z-index:2000 !important;
            font-size:13px;
            border:1px solid #cccccc;
            border-radius:0;
            background:#fff;
            margin: 0 auto;
            th{
                background:none;
                font-size: 13px;
                color:#333333;
                font-weight: normal;
            }
            &.ui-widget-content{
                color: #323232;
                box-shadow: none;
                width: 100%;
                margin-top: -1px;
            }
            @media all and (max-width:768px) {
                font-size: 17px;
            }

            .ui-datepicker-calendar{
                border:0;
            }

            .ui-timepicker-div{
                padding-top:10px;
                border-top:1px solid $header-border-color;
            }

            .ui-datepicker-buttonpane{
                padding: 10px;
                overflow: hidden;
                background: none;

                button{
                    margin: 0;
                    background: #abbac3;
                    border: 5px solid #abbac3;
                    border-radius: 0;
                    color: white;
                    text-shadow: 0 -1px 0 rgba(0,0,0,.25)!important;
                    border-radius: 0;
                    box-shadow: none!important;
                    -webkit-transition: all ease .15s;
                    -o-transition: all ease .15s;
                    transition: all ease .15s;
                    cursor: pointer;
                    vertical-align: middle;
                    position: relative;
                    opacity: 1;

                    &:hover {
                        background-color: #8b9aa3;
                    }

                    &.ui-datepicker-current {
                    background: #428bca;
                    border-color: #428bca;

                        &:hover {
                            background-color: #1b6aaa;
                        }
                    }
                }
            }

            .ui-slider-handle{
                width: 1.45em;
                height: 1.45em;
                padding:0;
                cursor: move;
                background: #f8f8f8;
                border-color: #4aa4ce!important;
            }

            dl{
                padding:0;
                dt,dd{
                    font-size: 13px;
                    margin-top: 0;
                }
                dd{
                    margin-bottom: 13px;
                }
            }
            td{
                border:0;
                span{
                    background:none;
                    color: #333333;
                    text-align: center;
                    border:0;
                }
                a{
                    color: #323232;;
                    text-align: center;
                    border:0;
                    background:none;
                    font-weight: normal;
                    font-size: 13px;
                    display: inline-block;
                    width:21px;
                    height: 21px;
                    line-height: 21px;

                    &.ui-state-active {
                        background:#D5E5EF;
                        border:0;
                        color: #323232;
                    }
                    &:hover {
                        background: #e7ebec;
                    }
                }
            }
            .ui-datepicker-header .ui-corner-all{
                border-radius :0;
                border: none;

                &:hover {
                    background: #eee;
                    border: 1px solid #eee;

                }
            }

            .ui-datepicker-header{
                background: none;
                border: 0;
                color: #666666;

                .ui-datepicker-year{
                    font-weight: normal;
                }

                .ui-datepicker-month{
                    text-transform: uppercase;
                }
            }
            .ui-slider-horizontal {
                border-radius: 0;
                border: none;
                background: #D5D5D5;
            }

        }
        #datepicker {
            width:100%;
            font-size:13px;
            cursor:pointer;
        }
    }
}

@include callendar($namespace)
