@import "imports/entry_change_form/globals";

@mixin overides(){

        div.main-col{
            width: 75%;
            float:left;
            border:none;
            padding-right: 15px;
            margin-bottom: 19px;
        

            & +  div.right-col{
                width: 25%;
                float:right;

                & > .right-col {
                    min-height: 20px;
                    padding: 19px;
                    margin-bottom: 20px;
                    background-color: #f5f5f5;
                    border: 1px solid #e3e3e3;
                    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

                    &:last-child .widget-body {
                        border: solid 1px #e5e5e5;
                        border-top: none;
                        background: white;
                    }
                }
            }
        }

        div.submit-row {
            clear: both;
            background: none;
        }

        .field-categories ul li{
            list-style-type: none;
        }

        .field-body{
            padding: 0px;
            margin: 0;
        }

        label[for='id_body'] {
            display: none;
        }

        #id_body_tbl td,
        #id_body_tbl{
            border: 0 !important;
        }
        fieldset.form-horizontal textarea, fieldset.form-horizontal input[type="text"], 
        fieldset.form-horizontal input[type="password"], fieldset.form-horizontal input[type="datetime"], 
        fieldset.form-horizontal input[type="datetime-local"], fieldset.form-horizontal input[type="date"], 
        fieldset.form-horizontal select {
            width: 90%;
        }
        fieldset.form-horizontal .select2-container {
            width: 90% !important;
        }
}

@mixin layout($ns){
    #{$ns}{
        @include overides();
        
        .poster-image {
            padding: 19px;
            margin-bottom: 20px;
            background-color: #f5f5f5;
            border: 1px solid #e3e3e3;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            margin-left: 16.7%;
            width: 66.3%;

            .widget-body {
                background: transparent;
            }
            .field-poster_image_uploader {
                .control-label {
                    display: none;
                }
                .col-sm-9 {
                    width: 100%;
                }
            }
        }
        #fileInputQueue {
            width: 50%;

            .thumbnail {
                width: 100%;
                a > img {
                    width: 100%;
                }
            }
        }
        #fileUpload {
            width: 50%;
            min-height: 200px;
            background: white;
        }
        .body-wrapper {
            margin-left: 16.7%;
            width: 66.3%;

            .control-label {
                display: none;
            }
            .col-sm-9 {
                width: 100%;
                padding: 0;
            }
            .field-preview_on_top, .field-preview_on_bottom {
                margin-left: 0;
                margin-right: 0;
            }
        }
        .custom-collapse {
            background: white;

            .widget-body {
                margin-top: 15px;
            }
        }
        .right-col {
            .widget-body {
                background: transparent;
            }
            .form-horizontal:first-child {
                .control-label {
                    display: none;
                }
                .col-sm-9 {
                    width: 100%;
                    padding-right: 0;

                }
            }
            .description {
                margin-top: 0px;
                padding: 0;
            }
            .custom-collapse {
                .widget-body {
                    padding: 15px;
                    margin-top: 0;

                    input[type="text"] {
                        width: 100%;
                    }
                }
                .header.block {
                    margin-bottom: 0 !important;
                }
            }
            .field-categories .categ-wrapper {
                border: 1px solid #d5d5d5;
                height: 170px;
                padding: 0;
                width: 100%;
                float: left;
                background: white;
                padding: 6px 15px 5px;

                ul {
                    margin: 0
                }
            }
            .field-categories, .field-seo_title, .field-meta_keywords {
                margin-bottom: 0;

                .control-label {
                    width: 100%;
                    text-align: left;
                    padding-left: 0;
                    margin-bottom: 5px;
                }
                .col-sm-9  {
                    width: 100%;
                    padding-right: 0;
                }
            }
            .field-categories .help-button {
                position: absolute;
                top: -32px;
                left: 80px;
            }
            .field-enable_poster_image, .field-disqus_enabled {
                margin-top: 15px; 

                .control-label, .col-sm-9 {
                    width: 50%;
                    padding-right: 0;
                    text-align: left;
                }
                .control-label {
                    padding-left: 0;
                }
            }
        }
        #id_save_button {
            background: #555 !important;
            border-color: #555 !important;
            width: 100%;

            &:hover {
                background-color: #303030!important;
            }
        }
        #id_publish {
            width: 100%;
        }
    }
}

@include layout($namespace)
